@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body, #_next, main {
  height: 100%;
}

/* .marker-cluster-custom {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center; // idk this just doesn't work
  align-items: center; // idk this just doesn't work
  font-weight: 900;
  font-size: 1.5rem;
} */